
{% extends "base.html" %}
{% block  nav%}
    {% if perms.webapp.change_product %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'product-update' product.id %}">Изменить</a>
      </li>
    {% endif %}
    {% if perms.webapp.delete_product %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'product-delete' product.id %}">удалить</a>
      </li>
    {% endif %}
{% endblock %}
{%  block content %}



    <h1>Товар № {{ product.id }}</h1>
    <p>Название: {{ product.title }}</p>
    <p>Описание: {{ product.description }}</p>
    <p>Категория: {{ product.category }}</p>
    <p>Остаток: {{ product.reminder }}</p>
    <p>Цена: {{ product.price }} $</p>
{% endblock content %}